USE [master]
GO
/****** Object:  Database [Colegio]    Script Date: 13/10/2022 22:29:06 ******/
CREATE DATABASE [Colegio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Colegio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Colegio.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Colegio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Colegio_log.LDF' , SIZE = 3904KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Colegio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Colegio]
GO
/****** Object:  Table [dbo].[admisiones]    Script Date: 13/10/2022 22:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admisiones](
	[id_tipoadmision] [int] NOT NULL,
	[tipoadmision] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipoadmision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carreras]    Script Date: 13/10/2022 22:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carreras](
	[idcarrera] [int] NOT NULL,
	[carrera] [varchar](50) NOT NULL,
	[id_sede] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idcarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 13/10/2022 22:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[idestado] [varchar](8) NOT NULL,
	[estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idestado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiantes]    Script Date: 13/10/2022 22:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiantes](
	[id_estudiante] [int] NOT NULL,
	[id_persona] [int] NOT NULL,
	[idcarrera] [int] NOT NULL,
	[id_tipoadmision] [int] NOT NULL,
	[idestado] [varchar](8) NOT NULL,
	[fechainscripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inscripcion]    Script Date: 13/10/2022 22:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inscripcion](
	[id_inscripcion] [int] NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[gestion] [int] NULL,
	[periodo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_inscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personas]    Script Date: 13/10/2022 22:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personas](
	[id_persona] [int] NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidopat] [varchar](50) NOT NULL,
	[apellidomat] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NULL,
	[ci] [varchar](50) NOT NULL,
	[telefono] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sede]    Script Date: 13/10/2022 22:29:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sede](
	[id_sede] [int] NOT NULL,
	[sede] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sede] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[admisiones] ([id_tipoadmision], [tipoadmision]) VALUES (0, N'Prueba de Suficiencia academica')
INSERT [dbo].[admisiones] ([id_tipoadmision], [tipoadmision]) VALUES (1, N'Excelencia')
INSERT [dbo].[admisiones] ([id_tipoadmision], [tipoadmision]) VALUES (2, N'Vestibulares')
GO
INSERT [dbo].[carreras] ([idcarrera], [carrera], [id_sede]) VALUES (0, N'Ninguno', 1)
INSERT [dbo].[carreras] ([idcarrera], [carrera], [id_sede]) VALUES (27, N'derecho Riberalta', 8)
INSERT [dbo].[carreras] ([idcarrera], [carrera], [id_sede]) VALUES (36, N'Ingenieria de Sistemas tdd', 1)
GO
INSERT [dbo].[estados] ([idestado], [estado]) VALUES (N'A', N'Activo')
INSERT [dbo].[estados] ([idestado], [estado]) VALUES (N'B', N'Bloqueado')
INSERT [dbo].[estados] ([idestado], [estado]) VALUES (N'X', N'Inactivo')
GO
INSERT [dbo].[estudiantes] ([id_estudiante], [id_persona], [idcarrera], [id_tipoadmision], [idestado], [fechainscripcion]) VALUES (1, 0, 36, 1, N'A', N'20/05/2015')
INSERT [dbo].[estudiantes] ([id_estudiante], [id_persona], [idcarrera], [id_tipoadmision], [idestado], [fechainscripcion]) VALUES (2, 1, 40, 1, N'A', N'15/05/2016')
GO
INSERT [dbo].[inscripcion] ([id_inscripcion], [id_estudiante], [gestion], [periodo]) VALUES (1, 2, 2016, 1)
INSERT [dbo].[inscripcion] ([id_inscripcion], [id_estudiante], [gestion], [periodo]) VALUES (2, 1, 2015, 2)
GO
INSERT [dbo].[personas] ([id_persona], [nombres], [apellidopat], [apellidomat], [direccion], [ci], [telefono]) VALUES (0, N'juan', N'perez', N'perez', N'c/', N'454545', NULL)
INSERT [dbo].[personas] ([id_persona], [nombres], [apellidopat], [apellidomat], [direccion], [ci], [telefono]) VALUES (1, N'maria luisa', N'justiniano', N'aguirre', N'c/ mamore', N'111111', N'4625151')
INSERT [dbo].[personas] ([id_persona], [nombres], [apellidopat], [apellidomat], [direccion], [ci], [telefono]) VALUES (2, N'yusara', N'farah', N'chavez', N'c/ la paz', N'7630037', N'4622882')
GO
INSERT [dbo].[sede] ([id_sede], [sede]) VALUES (1, N'Trinidad')
INSERT [dbo].[sede] ([id_sede], [sede]) VALUES (2, N'Casarave')
INSERT [dbo].[sede] ([id_sede], [sede]) VALUES (3, N'Elvira')
GO
ALTER TABLE [dbo].[carreras]  WITH CHECK ADD FOREIGN KEY([id_sede])
REFERENCES [dbo].[sede] ([id_sede])
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD FOREIGN KEY([id_persona])
REFERENCES [dbo].[personas] ([id_persona])
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD FOREIGN KEY([id_tipoadmision])
REFERENCES [dbo].[admisiones] ([id_tipoadmision])
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD FOREIGN KEY([idcarrera])
REFERENCES [dbo].[carreras] ([idcarrera])
GO
ALTER TABLE [dbo].[estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_estados] FOREIGN KEY([idestado])
REFERENCES [dbo].[estados] ([idestado])
GO
ALTER TABLE [dbo].[estudiantes] CHECK CONSTRAINT [FK_estudiantes_estados]
GO
ALTER TABLE [dbo].[inscripcion]  WITH CHECK ADD FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[estudiantes] ([id_estudiante])
GO
USE [master]
GO
